{% extends "base.html.twig" %}


{% block title %}Sym - Accueil
{% endblock %}


{% block body %}

	<div class="container mt-4">
		<div class="jumbotron">
			<h1 class="display-4">Bienvenue , Test Sanaa</h1>
			<p class="lead">Page inscription.</p>
			<hr class="my-4">
			<p>Aller sur la page d'inscription pour utiliser l'application.</p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
		</div>
	</div>


{% endblock %}
